
/* Aside --------------------------------------------------------------------------------*/

aside{
    position: fixed;
    height: 100%;
    width: 380px;
    top: 0;
    left: 0;
    padding: 10px 16px;
    background-color: rgb(41,41,41);
}
aside header{
    position: relative;
}
aside .Text-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside .Text-icon .Icon{
    min-width: 60px;
    display: flex;
    align-items: center;
}
aside .Text-icon img{
    width: 60px;
    height: 50px;
    border-radius: 7px;
}
aside .Text-icon .Text{
    color: antiquewhite;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
aside .Text-icon .Text .Name{
    font-weight: 600;
}

/* ---Menu--- */

aside header .toggle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: blueviolet;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    cursor: pointer;
}
aside .Menu-bar{
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
aside .Menu-bar li{
    height: 50px;
    background: rgb(55, 55, 55);
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 1s;
}
aside .Menu-bar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    min-width: 60px;
}
aside .Menu-bar li .Menu-text, aside .Menu-bar li .Menu-text{
    color: aliceblue;
}
aside .Menu-bar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
aside .Menu li:hover {
    background: rgb(71, 71, 71);
}
aside li:hover {
    background: rgb(71, 71, 71);
}
.Search-box input{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 6px;
    background: rgb(220, 220, 220);
    transition: 1s;
}
.Search-box input:hover{
    background: rgb(255, 255, 255);
} 
aside .Menu-bar p{
    position: relative;
    width: 290px;
    border-radius: 6px;
    top: -10px;
    left: 20px;
    color: antiquewhite;
    padding: 5px;
    background: rgb(55, 55, 55);
}